<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>アカウント削除</title>
  </head>
  <body>
    <h1>アカウント削除</h1>
    <form action="" method = "post" >
      <div>
      </div>
        <input type="submit" value="ユーザアカウント削除"/>
        <%= error %>
    </div>
  </body>
</html>