<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>登録情報変更</title>
  </head>
  <body>
    <h1>登録情報変更</h1>
    <form action="" method = "post" >
      <div>
        <label>メールアドレス：</label>
        <input type="text" name="mailaddress"/>
      </div>
      <div>
        <label>パスワード：</label>
        <input type="password" name="password"/>
      </div>
      <div>
        <label>ユーザー名：</label>
        <input type="text" name="username"/>
      </div>
      <div>
        <input type="submit" value="登録情報変更"/>
        <%= error %>
    </div>
  </body>
</html>